.review-item {
  display: flex;
  align-items: flex-start;
  border-radius: 4px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #80808029;
  align-items: center;
  justify-content: center;
  @media (max-width:768px) {
    display: block;   
  } 
}

.logo {
  display: flex;
  width: 250px;
  justify-content: center;
  height: auto;  
  @media (max-width:768px) {
    width: 200px;
  }
}

.rating {
  display: flex;
  width: 200px;
  height: auto;
  justify-content: center;
   
  @media (max-width:992px) {
   padding: 20px 0;
  }
}

.features {
  display: block;
  font-size: 18px;
  line-height: 2;
  width: 350px;
  justify-content: center;
  @media (max-width:992px) {
    font-size: 12px;
    width: 200px;
  } 
}

.icon {
  vertical-align: middle;
  margin-right: 5px;
  color: green;
}

.play-now-terms-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.play-now a {
  color: white;
  text-decoration: none;
}

.play-now {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 121, 35);
  padding: 20px 40px; /* Adjust padding as needed */
  border-radius: 4px;
  margin-right: 3%;
  margin-left: 9%;
  margin-top: 9%;
  margin-bottom: 9%;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4));
  background: linear-gradient(to bottom, rgb(35, 121, 35), rgb(26, 92, 26));
  width: fit-content;
    
  @media (max-width:992px) {
    padding: 15px 20px;
    font-size: 14px;
    margin: 20px 0;
  }
}

.terms a {
  color: #888888;
  text-decoration: none;
}

.terms {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  font-size: 14px;
  color: #888888;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  
  @media (max-width:992px) {
    font-size: 10px;
  }
}

span{
   @media (max-width:992px) {
  font-size: 10px;
  }
}
